<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>jutopia</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<resource-ref>
		<description>jutopiaDB</description>
		<res-ref-name>jdbc:jutopiaDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<servlet>
		<servlet-name>JutopiaController</servlet-name>
		<servlet-class>controller.JutopiaController</servlet-class>
		<init-param>
			<param-name>jutopiaConfig</param-name>
			<param-value>C:/Users/wangi/git/jutopia/WebContent/WEB-INF/jutopia.properties</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>JutopiaController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

<!-- <resource-ref>
  	<description>DBCP DB Test</description>
  	<res-ref-name>jdbc:BookingDB</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
 <resource-ref>
  	<description>DBCP DB</description>
  	<res-ref-name>jdbc:ParkingDB</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth> -->
</web-app>