.placeinfo-maintitle {
	margin-top: 15px;
}

.placeinfo-title {
	text-align: center !important;
	font-size: 20px;
	margin-top: 15px;
}

.placeinfo-subtitle {
	color: #008bff;
	font-weight: 700;
	font-size: 15px;
}

.placeinfo-content-wrap {
	margin-top: 10px;
}

.placeinfo-address {
	margin-top: 15px;
}


#map {
	width: 500px;
	height: 400px;
}

.width83 {
	width: 83.33333333%;
}

#mapinfowrap {
	align: center;
	text-align: left;
}

hr{
	margin-top: 50px;
	margin-bottom: 20px;
	border: 0;
	border-top: 3px solid #ffffff;
} 