/* ------------------------------textbox--------------------- */
.textbox{
	
	padding:10px;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}
.textbox:focus {
	outline:none;
	box-shadow:0 0 10px 5px #900;
	padding:10px;
	border:1px 	solid #cc0000; 
}

/* -----------------------------background--------------------- */
body{
	background: url('../../images/board/boardbackground.jpg') no-repeat  ;
	
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/* -------------------title-------------------------------------- */   
.title {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
    background: #000000;
    margin: 20px 10px;
}

/*----------------------content-----------------------------------*/
.content{
	
	 width: 150px;
    padding: 10px;
    vertical-align: middle;
    color: #000000;
    background: #fff;
    margin: 20px 10px;
}
    
 /*-----------------------상세내용----------------------------*/
 h2 {
  font-family: 'Arial';
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  line-height: 0.75;
}

span {
  display: block;
}

span:not(.detail) {
  opacity: 0;
  -webkit-animation: flashText .5s ease-out alternate infinite;
          animation: flashText .5s ease-out alternate infinite;
}

span.detail {
  position: relative;
  display: inline-block;
}
span.detail:before {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100%;
  height: 120%;
  background: #fff;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  content: "";
  opacity: 0;
  -webkit-animation: flash .5s ease-out alternate infinite;
          animation: flash .5s ease-out alternate infinite;
}

@-webkit-keyframes flash {
  to {
    opacity: 1;
  }
}

@keyframes flash {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes flashText {
  to {
    opacity: 0.15;
  }
}
@keyframes flashText {
  to {
    opacity: 0.15;
  }
}   

/* ------------------버튼-------------------- */
@-webkit-keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}
@keyframes sheen {
  0% {
    -webkit-transform: skewY(-45deg) translateX(0);
            transform: skewY(-45deg) translateX(0);
  }
  100% {
    -webkit-transform: skewY(-45deg) translateX(12.5em);
            transform: skewY(-45deg) translateX(12.5em);
  }
}

.contentbutton {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: #400040;
  border: 2px solid #333333;
  font-size: 15px;
  display: inline-block;
  border-radius: 0.3em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.contentbutton:before {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  -webkit-transform: skewX(-45deg) translateX(0);
          transform: skewX(-45deg) translateX(0);
  -webkit-transition: none;
  transition: none;
}
.contentbutton:hover {
  background-color: #000000;
  color: #3a3a3a;
  
}
.contentbutton:hover:before {
  -webkit-transform: skewX(-45deg) translateX(13.5em);
          transform: skewX(-45deg) translateX(13.5em);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}